@tailwind base;
@tailwind components;
@tailwind utilities;

.font-poppins {
    font-family: "Poppins", sans-serif;
}
html::-webkit-scrollbar {
    display: none;
}

.invisible-scrollbar::-webkit-scrollbar {
    display: none;
}
.dt-search {
    position: absolute !important;
    top: -50px;
    overflow: visible;
    right: 0;
    /* z-index: 10 !important; */
    margin-bottom: 0px !important;
}
@media only screen and (max-width: 768px) {
    .dt-input,
    .dt-search {
        width: 100%;
    }
    .dt-buttons {
        top: -90px !important;
    }
}
#datatable_wrapper {
    position: unset;
}
.dt-layout-row {
    margin: 0 !important;
}
div.dt-container.dt-empty-footer tbody > tr:last-child > * {
    border-bottom: 0 !important;
}
.dt-input {
    font-size: 12px !important;
    border-radius: 0.5rem !important;
}

.dt-layout-cell.dt-layout-end:has(.dt-paging) {
    display: flex !important;
    justify-content: center !important;
    width: 100%;

    position: absolute !important;
    bottom: 0px;
    overflow: visible;
    left: 0;
    /* z-index: 10 !important; */
    margin-bottom: 0px !important;

    padding: 5px 10px;
    border: 1px solid #0000001a !important;
    border-radius: 8px !important;
    background-color: #f3f4f6 !important;
    width: 100%;

    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
        0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.dt-paging-button {
    border-radius: 8px !important;
}
div.dt-container .dt-paging .dt-paging-button:hover {
    background: linear-gradient(to bottom, #eee 0%, #eee 100%) !important;
    border: 1px solid gray !important;
}
div.dt-container .dt-paging .dt-paging-button.current,
div.dt-container .dt-paging .dt-paging-button.current:hover {
    background: linear-gradient(to bottom, white 0%, white 100%) !important;
}

table.dataTable > tbody > tr:nth-child(even) > *,
table.dataTable.display > tbody > tr:nth-child(even) > * {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.023);
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-stripe), 0.04) !important;
}

.expanded-sidebar {
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 1;
    transform: translateX(0);
}

.hidden-with-transition {
    opacity: 0;
    transform: translateX(-20px);
    pointer-events: none;
}
.select2-container--default .select2-selection--single {
    border-radius: 8px !important;
    border: 1px solid #d1d5db !important;
    height: 33.33px !important;
    /* padding: 8px 12px !important; */
}
.select2-dropdown {
    overflow: hidden !important;
    border-radius: 8px !important;
    /* margin-top: 3px !important; */
}
.select2-results__options::-webkit-scrollbar {
    display: none !important;
}

.select2-container--open .select2-dropdown--below {
    border-top: 1px solid gray !important;
}
.select2-container--open .select2-dropdown--above {
    border-bottom: 1px solid gray !important;
}
.select2-search__field {
    border-radius: 8px !important;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: 30px !important;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    top: 3px !important;
}
.select2-selection.required {
    background-color: yellow !important;
}
