@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-jar-auth {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='100%' height='100%' preserveAspectRatio='none' viewBox='0 0 1280 768'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1037%26quot%3b)' fill='none'%3e%3crect width='100%' height='100%' x='0' y='0' fill='rgba(0%2c 162%2c 233%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c511.929C95.77%2c499.765%2c123.882%2c370.293%2c199.012%2c309.669C262.792%2c258.204%2c368.612%2c258.384%2c405.136%2c185.019C441.675%2c111.622%2c392.028%2c26.467%2c380.404%2c-54.694C368.772%2c-135.908%2c394.207%2c-233.222%2c336.836%2c-291.87C279.323%2c-350.663%2c176.056%2c-309.439%2c100.174%2c-341.163C9.658%2c-379.005%2c-46.783%2c-496.753%2c-144.828%2c-493.238C-241.687%2c-489.765%2c-311.315%2c-397.995%2c-374.099%2c-324.158C-436.433%2c-250.85%2c-492.702%2c-167.986%2c-502.767%2c-72.287C-512.664%2c21.819%2c-478.304%2c115.187%2c-428.785%2c195.82C-382.935%2c270.479%2c-304.91%2c312.727%2c-234.389%2c364.717C-158.591%2c420.597%2c-93.418%2c523.794%2c0%2c511.929' fill='%23009add'%3e%3c/path%3e%3cpath d='M1280 1282.1309999999999C1390.451 1310.726 1521.548 1354.7530000000002 1615.262 1289.6770000000001 1709.343 1224.346 1687.524 1079.628 1726.643 971.975 1761.868 875.038 1845.0990000000002 790.895 1833.761 688.381 1822.3429999999998 585.144 1729.6100000000001 515.538 1666.997 432.666 1599.375 343.164 1555.068 226.697 1451.815 182.85199999999998 1345.425 137.67499999999995 1215.731 145.39499999999998 1112.386 197.159 1014.396 246.24099999999999 968.278 355.955 915.0070000000001 451.732 871.1179999999999 530.642 854.739 616.351 830.808 703.4159999999999 803.0260000000001 804.492 717.912 909.477 763.205 1004.012 808.6469999999999 1098.857 947.777 1091.005 1040.387 1140.844 1123.724 1185.693 1188.382 1258.411 1280 1282.1309999999999' fill='%2300aaf5'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1037'%3e%3crect width='100%' height='100%' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
}
.font-poppins {
    font-family: "Poppins", sans-serif;
}
html::-webkit-scrollbar {
    display: none;
}

.invisible-scrollbar::-webkit-scrollbar {
    display: none;
}
.dt-search {
    position: absolute !important;
    top: -50px;
    overflow: visible;
    right: 0;
    /* z-index: 10 !important; */
    margin-bottom: 0px !important;
}
@media only screen and (max-width: 768px) {
    .dt-input,
    .dt-search {
        width: 100%;
    }
    .dt-buttons {
        top: -90px !important;
    }
}
#datatable_wrapper {
    position: unset;
}
div.dt-container {
    position: unset !important;
}
.dt-layout-row {
    margin: 0 !important;
}
div.dt-container.dt-empty-footer tbody > tr:last-child > * {
    border-bottom: 0 !important;
}
.dt-input {
    font-size: 12px !important;
    border-radius: 0.5rem !important;
}

.dt-layout-cell.dt-layout-end:has(.dt-paging) {
    display: flex !important;
    justify-content: center !important;
    width: 100%;

    position: absolute !important;
    bottom: 0px;
    overflow: visible;
    left: 0;
    /* z-index: 10 !important; */
    margin-bottom: 0px !important;

    padding: 5px 10px;
    border: 1px solid #0000001a !important;
    border-radius: 8px !important;
    background-color: #f3f4f6 !important;
    width: 100%;

    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
        0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.dt-paging-button {
    border-radius: 8px !important;
}
div.dt-container .dt-paging .dt-paging-button:hover {
    background: linear-gradient(to bottom, #eee 0%, #eee 100%) !important;
    border: 1px solid gray !important;
}
div.dt-container .dt-paging .dt-paging-button.current,
div.dt-container .dt-paging .dt-paging-button.current:hover {
    background: linear-gradient(to bottom, white 0%, white 100%) !important;
}

table.dataTable > tbody > tr:nth-child(even) > *,
table.dataTable.display > tbody > tr:nth-child(even) > * {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.023);
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-stripe), 0.04) !important;
}

.expanded-sidebar {
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 1;
    transform: translateX(0);
}

.hidden-with-transition {
    opacity: 0;
    transform: translateX(-20px);
    pointer-events: none;
}
.select2-container--default .select2-selection--single {
    border-radius: 8px !important;
    border: 1px solid #d1d5db !important;
    height: 37.33px !important;
    /* padding: 8px 12px !important; */
}
.select2-dropdown {
    overflow: hidden !important;
    border-radius: 8px !important;
    /* margin-top: 3px !important; */
}
.select2-results__options::-webkit-scrollbar {
    display: none !important;
}

.select2-container--open .select2-dropdown--below {
    border-top: 1px solid gray !important;
}
.select2-container--open .select2-dropdown--above {
    border-bottom: 1px solid gray !important;
}
.select2-search__field {
    border-radius: 8px !important;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: 36px !important;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    top: 3px !important;
}
.select2-selection.required {
    background-color: yellow !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}
.loadPage {
    display: flex;
}

.loadPage .dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #e8e8e8;
    background: #16b0c1;
    animation: jump 0.8s ease-in-out infinite alternate;
}

@keyframes jump {
    100% {
        background: #661e92;
        transform: translateY(-3rem) scale(1.9);
    }
}

.loadPage .dot:nth-child(1) {
    animation-delay: 0.1s;
}

.loadPage .dot:nth-child(2) {
    animation-delay: 0.2s;
}

.loadPage .dot:nth-child(3) {
    animation-delay: 0.3s;
}

.loadPage .dot:nth-child(4) {
    animation-delay: 0.4s;
}

.loadPage .dot:nth-child(5) {
    animation-delay: 0.5s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#loader-content {
    animation: fadeIn 1s ease-in-out;
}

.dtr-details {
    width: 100%;
    background-color: aliceblue;
    border: 1px solid gray;
    padding: 5px !important;
    border-radius: 8px;
}
tr.child td.child table {
    width: 100% !important;
}
div.dt-container .dt-search input {
    margin-left: 0 !important;
}

.toggler {
    width: 72px;
}

.toggler input {
    display: none;
}

.toggler label {
    display: block;
    position: relative;
    width: 72px;
    height: 36px;
    border: 1px solid #d6d6d6;
    border-radius: 36px;
    background: #e4e8e8;
    cursor: pointer;
}

.toggler label::after {
    display: block;
    border-radius: 100%;
    background-color: #d7062a;
    content: "";
    animation-name: toggler-size;
    animation-duration: 0.15s;
    animation-timing-function: ease-out;
    animation-direction: forwards;
    animation-iteration-count: 1;
    animation-play-state: running;
}

.toggler label::after,
.toggler label .toggler-on,
.toggler label .toggler-off {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 26px;
    height: 26px;
    transform: translateY(-50%) translateX(-50%);
    transition: left 0.15s ease-in-out, background-color 0.2s ease-out,
        width 0.15s ease-in-out, height 0.15s ease-in-out,
        opacity 0.15s ease-in-out;
}

.toggler input:checked + label::after,
.toggler input:checked + label .toggler-on,
.toggler input:checked + label .toggler-off {
    left: 75%;
}

.toggler input:checked + label::after {
    background-color: #50ac5d;
    animation-name: toggler-size2;
}

.toggler .toggler-on,
.toggler .toggler-off {
    opacity: 1;
    z-index: 2;
}

.toggler input:checked + label .toggler-off,
.toggler input:not(:checked) + label .toggler-on {
    width: 0;
    height: 0;
    opacity: 0;
}

.toggler .path {
    fill: none;
    stroke: #fefefe;
    stroke-width: 7px;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

@keyframes toggler-size {
    0%,
    100% {
        width: 26px;
        height: 26px;
    }

    50% {
        width: 20px;
        height: 20px;
    }
}

@keyframes toggler-size2 {
    0%,
    100% {
        width: 26px;
        height: 26px;
    }

    50% {
        width: 20px;
        height: 20px;
    }
}
